<a href="https://colab.research.google.com/github/Ali-Fartout/Kaggle/blob/main/Predict-Future-Sales/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Requirement

# Kaggle config. and download dataset.

In [1]:
from google.colab import drive
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [2]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [3]:
%cd /content/gdrive/MyDrive/

/content/gdrive/MyDrive

In [4]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/MyDrive/"

In [5]:
!kaggle competitions download -c competitive-data-science-predict-future-sales

Downloading competitive-data-science-predict-future-sales.zip to /content/gdrive/MyDrive
 93% 14.0M/15.1M [00:00<00:00, 142MB/s]
100% 15.1M/15.1M [00:00<00:00, 141MB/s]

# Extract data

In [8]:
import zipfile
with zipfile.ZipFile('/content/gdrive/MyDrive/competitive-data-science-predict-future-sales.zip', 'r') as zip_ref:
    zip_ref.extractall("/content/Data")

# EDA

In [9]:
import pandas as pd
import numpy as np

In [19]:
train_shop_data = pd.read_csv("/content/Data/shops.csv")
train_item_data = pd.read_csv('/content/Data/items.csv')
train_cat_data = pd.read_csv('/content/Data/item_categories.csv')
train_sales_data = pd.read_csv('/content/Data/sales_train.csv')

In [20]:
train_shop_data.sample(5)

                         shop_name  shop_id
15            Калуга ТРЦ "XXI век"       15
41          РостовНаДону ТЦ "Мега"       41
3   Балашиха ТРК "Октябрь-Киномир"        3
35     Н.Новгород ТРЦ "Фантастика"       35
37           Новосибирск ТЦ "Мега"       37

In [21]:
train_sales_data.sample(5)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
1844167,03.07.2014,18,6,3476,799.0,1.0
1869710,04.08.2014,19,42,13889,199.0,1.0
2071275,01.10.2014,21,55,4173,2900.0,1.0
2740195,07.07.2015,30,45,3464,1499.0,1.0
1346118,25.01.2014,12,6,4351,399.0,1.0

In [22]:
train_item_data.sample(5)

,item_name,item_id,item_category_id
18457,СБ. Союз 56 (mp3-CD) (jewel),18457,57
4971,"NASCAR'14 [PC, Цифровая версия]",4971,31
14921,"МЭРИ ПОППИНС, ДО СВИДАНИЯ (Регион)",14921,40
2184,COCKER JOE Hard Knocks,2184,55
4030,"Jagged Alliance: Crossfire [PC, Цифровая версия]",4030,31

In [23]:
train_cat_data.sample(5)

                  item_category_name  item_category_id
54                     Книги - Цифра                54
19                        Игры - PS3                19
62  Подарки - Гаджеты, роботы, спорт                62
33              Карты оплаты - Live!                33
0            PC - Гарнитуры/Наушники                 0